
{{#each stocks}}
    <section class="ui raised segment" style="background-color: #f1f1f1">
        <div class="ui grid">
            <!---->
          <div class = "twelve wide column" >
            <h3 class="ui header ">{{'2. name'}}</h3>
            <div class = "ui grid">
              <div class = "four wide column left aligned middle aligned">
                Code: {{'1. symbol'}}
              </div>
              <div class = "four wide column left aligned middle aligned">
                Price per share: {{'1. symbol'}}
              </div>
              <div class = "four wide column left aligned middle aligned">
                Code: {{'1. symbol'}}
              </div>
              <div class = "four wide column left aligned middle aligned">
                Code: {{'1. symbol'}}
              </div>
            </div>
          </div>
            <div class = "four wide column right aligned middle aligned">
                    <a href="/dashboard/follow/{{'2. name'}}/{{'1. symbol'}}/{{'9. matchScore'}}/{{../search}}" class="ui button">
                      {{#if ../following }}
                        Following
                      {{else}}
                        Follow
                      {{/if}}
                    </a>
            </div>
        </div>
    </section>
{{/each}}

