
{{#each stocks}}

    <section class="ui segment">
        <div class="ui grid">
            <!---->
            <div class = "twelve wide column">
                    <h2 class="ui header blue">{{'2. name'}}</h2>
                    <h3 class="ui header black">Code: {{'1. symbol'}} </h3>
                    <h3 class="ui header black">Price per share: {{'9. matchScore'}} </h3>
            </div>

            <div class = "four wide column right aligned middle aligned">

                    <a href="/dashboard/follow/{{'2. name'}}/{{'1. symbol'}}/{{'9. matchScore'}}" class="ui red button">
                        Follow
                    </a>

            </div>
        </div>

    </section>

{{/each}}
{{#each stocks}}
    <section  class = "ui raised segment ">

        <table  class="ui celled table  ">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>price</th>
                <th>Trend</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    {{code}}
                </td>
                <td>
                    {{price}}
                </td>
                <td>
                    {{#if trend }}
                        <i class="ui green thumbs up outline icon large"></i>

                    {{else}}
                        <i class="ui red thumbs down outline icon large"></i>

                    {{/if}}

                </td>

                <td>
                    <a href="/dashboard1/deleteassessment/{{id}}" class="ui red button right aligned middle aligned">
                        Follow
                    </a>
                </td>

            </tr>

            </tbody>
        </table>
    </section>
{{/each}}

