
{{#each userStocks}}
    <section class="ui raised segment" style="background-color: #f1f1f1">
        <div class="ui grid">
            <!---->
          <div class = "twelve wide column" >
            <h3 class="ui header ">{{name}}</h3>
            <div class = "ui grid">
              <div class = "four wide column left aligned middle aligned">
                Code: {{code}}
              </div>
              <div class = "four wide column left aligned middle aligned">
                Match Score: {{matchScore}}
              </div>
              <div class = "four wide column left aligned middle aligned">
                Market Open: {{marketOpen}}
              </div>
              <div class = "four wide column left aligned middle aligned">
                Market Closed: {{marketClosed}}
              </div>
            </div>
          </div>
            <div class = "four wide column right aligned middle aligned">
                    <a href="/dashboard/unfollow/{{id}}" class="ui button">
                        Unfollow
                    </a>
            </div>
        </div>
    </section>
{{/each}}

